.densityInf{
    display: block;
    position: absolute;
    font-size: 15px;
    margin-top: 100px;
    margin-left: 15px;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
  }
  
  #info-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 75px;
    margin-left: 10px;
    padding: 1px;
    filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(1768%) hue-rotate(336deg) brightness(93%) contrast(97%);
    transition: 0.3s;
  }
  
  #info-icon:hover{
    opacity: 70%;
  }
  
  @keyframes slideInLeft {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(0);
    }
  }
  

  #custbox{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 400px;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: 0.3s;
  }
  