#login-page{
    display: flex;
    position: relative;
    height:100vh;
    background: rgb(34,40,46);
    background: linear-gradient(29deg, rgba(34,40,46,1) 50%, rgba(54,48,70,1) 63%, rgba(72,55,94,1) 73%, rgba(104,67,135,1) 86%, rgba(147,83,190,1) 100%);
    overflow:hidden;
  }
  
  #login-right-hold{
    position: absolute;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    right:0;
  }
  
  #login-right{
    z-index:1;
    display: flex;
    width:50%;
    right:0;
    justify-content: center;
    align-items: center;
  } 
  
  #login-hold{
    width: 400px;
    font-size: 25px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  #login-title{
    display: flex;
    width:50%;
    color:rgb(16, 159, 255);
    justify-content: center;
    text-align: center;
    align-items: center;
    left:0;
  }
  
  #login-title h1{
    font-size:75px;
  }
  
  #login-email{
    margin-bottom:25px;
    border: 3px solid rgb(43, 170, 255);
  }
  
  #login-email-hold{
    color:rgb(114, 199, 255);
  }
  
  #login-password{
    margin-bottom:25px;
    border: 3px solid rgb(43, 170, 255);

  }
  
  #login-password-hold{
    color:rgb(114, 199, 255);
  }
  
  .login-button{
    margin-right: 25px;
    letter-spacing: 0.5px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  
  #login-button1{
    background-color: rgb(16, 159, 255);
    transition: background-color 0.3s ease;
  }
  
  #login-button2{
    transition: background-color 0.3s ease !important;
  }
  
  #login-button1:hover{
    background-color: rgb(25, 115, 175);
  }

  #login-button1-animated{
    background-color: rgb(16, 159, 255);
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  }

  #login-email-animated{
    margin-bottom:25px;
    border: 3px solid rgb(43, 170, 255);
    animation: red-err 1s linear;
  }

  #login-password-animated{
    margin-bottom:25px;
    border: 3px solid rgb(43, 170, 255);
    animation: red-err 1s linear;
  }

  @keyframes red-err{
    0%{
      border: 3px solid rgb(43, 170, 255);
    }
    50%{
      border: 3px solid rgb(255, 0, 0);
    }
    100%{
      border: 3px solid rgb(43, 170, 255);
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }  
  
  .rotate {
    position:absolute;
    animation-name: ani-rotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
  }
  
  @keyframes ani-rotate {
    0%{ transform: rotate(0); }
    100%{ transform: rotate(360deg); }  
  }
  
  .float {
    position:absolute;
    animation-name: ani-float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
  }
  
  @keyframes ani-float {
    0% { transform: translate(0,  0px); }
    50% { transform: translate(0, 30px); }
    100% { transform: translate(0, -0px); }    
  }
  
  #top-left-blob{
    left:5%;
    width:250px;
    height:250px;
  }
  
  #lower-left-blob{
    width:350px;
    height: 350px;
    bottom:-75px;
    left:-100px;
  }
  
  #lower-right-blob{
    width:400px;
    height:400px;
    animation-delay: 1s;
    bottom:-100px;
    right:-100px;  
    z-index: 1;
  }