#login-page{
    display: flex;
    position: relative;
    height:100vh;
    background-color: #22282e;
    overflow:hidden;
  }
  
  #login-right-hold{
    position: absolute;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    background-color: #22282e;
    right:0;
  }
  
  #login-right{
    z-index:1;
    display: flex;
    width:50%;
    right:0;
    justify-content: center;
    align-items: center;
  } 
  
  #login-hold{
    width: 400px;
    font-size: 25px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  #login-title{
    display: flex;
    width:50%;
    color:rgb(16, 159, 255);
    justify-content: center;
    text-align: center;
    align-items: center;
    left:0;
  }
  
  #login-title h1{
    font-size:75px;
  }
  
  #login-email{
    margin-bottom:30px;
  }
  
  #login-email-hold{
    color:rgb(114, 199, 255);
  }
  
  #login-password{
    margin-bottom:30px;
  }
  
  #login-password-hold{
    color:rgb(114, 199, 255);
  }
  
  .login-button{
    margin-right: 15px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  
  #login-button1{
    background-color: rgb(16, 159, 255);
    transition: background-color 0.3s ease;
  }
  
  #login-button2{
    transition: background-color 0.3s ease !important;
  }
  
  #login-button1:hover{
    background-color: rgb(25, 115, 175);
  }
  
  .rotate {
    position:absolute;
    animation-name: ani-rotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
  }
  
  @keyframes ani-rotate {
    0%{ transform: rotate(0); }
    100%{ transform: rotate(360deg); }  
  }
  
  .float {
    position:absolute;
    animation-name: ani-float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
  }
  
  @keyframes ani-float {
    0% { transform: translate(0,  0px); }
    50% { transform: translate(0, 30px); }
    100% { transform: translate(0, -0px); }    
  }
  
  #top-left-blob{
    left:5%;
    width:250px;
    height:250px;
  }
  
  #lower-left-blob{
    width:350px;
    height: 350px;
    bottom:-75px;
    left:-100px;
  }
  
  #lower-right-blob{
    width:400px;
    height:400px;
    animation-delay: 1s;
    bottom:-100px;
    right:-100px;  
    z-index: 1;
  }